

    <div class="course-card">

        <div class="course-title">
          {{cardIndex}}  {{course.description}}
        </div>
        
        <img width="300" alt="Angular Logo" *ngIf="isImageVisible(); else noImage"
             src="{{course.iconUrl}}">
             
             <ng-template #noImage>
                <h2>No Image Available!</h2>
             </ng-template>

        <div class="course-description">
            {{course.longDescription}}
        </div>

        <div class="course-categry">
            @switch(course.category){
                @case("BEGINNER"){
                    <div class="category">Beginner</div>
                }
                @case("ADVANCED"){
                    <div class="category">Advanced</div>
                }
                @default {
                    <div class="category">Unknown</div>
                }
            }

        </div>
        <button (click)="onCourseCardButtonClick()"> view course</button>
    </div>
