

    <div class="" *ngIf="course"
    [ngClass]="cardClasses()">

        <div class="course-title">
          {{cardIndex}}  {{course.description}}
        </div>
        
        <img width="300" alt="Angular Logo" *ngIf="isImageVisible(); else noImage"
             src="{{course.iconUrl}}">
             
             <ng-template #noImage>
                <h2>No Image Available!</h2>
             </ng-template>

        <div class="course-description">
            {{course.longDescription}}
        </div>
<button (click)="onCourseCardButtonClick()"> view course</button>
    </div>
