<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<p>course-card works!</p>
<div class="courses">
    @for(course of courses; track course.id; 
        let index = $index; 
        let count = $count;
        let first = $first;
        let odd = $odd;
        let even = $even; 
        let last = $last;){

        <h1>Count: {{count}}</h1>
        <course-card
        [index] = "index" 
        [class.is-first] = "first"
        [class.is-last] = "last"
        [class.is-odd] = "odd"
        [class.is-even] = "even"
        (couseSelected)="onCardClick($event)" 
        [course] = "course" />
    }
    @empty {
        <div class="empty">
            <h2> No courses found</h2>
        </div>   
    }
</div>

