<div class="top-menu">

  <img class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

  </div>


  <p>course-card works!</p>
  <div class="courses">    
    @for (course of courses; track course; let i = $index; let isFirst = $first; let isLast = $last; let isEven = $even; let isOdd = $odd) {
      <course-card  #cardRef
        (couseSelected)="onCardClick($event)"
        [cardIndex]=" i +1"
        [class.is-first]="isFirst"
        [class.is-last]="isLast"       
        [course] = "course"
        />
    }

  </div>

